.header a {
  text-decoration: none;
  margin-right: 25px;
  padding: 4px 5px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 16px;
  border-radius: 3px;
}

/* .active {
  background-color: rgb(39, 59, 242);
  color: lightcoral;
} */
